<!-- Product -->
<section class="bg0 p-t-90 p-b-50">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">Wishlist </h3>
        </div>

        <div class="row isotope-grid">
            {{#each wishlistDatas.products}}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="/multerimages/{{this.productId.imagepath.[0]}}">

                        <a href="/product_detail/{{this._id}}"
                            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/product_detail/{{this._id}}"
                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{this.productId.name}}
                            </a>

                            <span class="stext-105 cl3">
                                ₹{{this.productid.price}}
                            </span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png"
                                    alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png "
                                    alt="ICON">
                            </a>
                        </div>
                        <a href="/add-To-Cart/{{this._id}}" class="m-3"><i style="color: #050505;"
                                class="fa-solid fa-bag-shopping"></i></a>
                        <a href="/delete_product/{{this._id}}"
                            onclick="return confirm('Are you sure about deleting {{this.name}}')" class="m-3 "><i
                                class="fa fa-trash-o" style="color: #580909;" aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        >